@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-input:focus {
  box-shadow: unset;
}

.MuiButton-root {
  z-index: 1;
  box-shadow: rgb(8 126 164) 0px 0px 1px 0.1rem !important;
}
